.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.hide{
  display:none;  
}

.App-header {
  background-color: #2d2f33;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tile {
  height: 225px;
  width: 225px;
  margin: 10px;
  background: grey;
  float: left;
  font-size: 11px;
  text-align: left;  
}

.image-box{
  height: 150px;
  width: auto;
  margin: 10px;
  float: left;
  font-size: 11px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col {
  flex: 200%;
  padding: auto;
}

.row {
  display: flex;
  flex-wrap: flex;
  padding: 5px;
}

.newImageButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 140px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px lightgrey;
}

.loginForm {
  float:left
}
